<template name="chatTalk">
	<div class="panel panel-info">	
		<div class="panel-body">
			<div class="media-list">
				{{#if isReady}}
					{{#if hasMoreMessages}}
						<a class="load-more" href="#">Load More</a>
					{{/if}}
				{{else}}
					<div class="loading">{{>spinner length=5 radius=5 lines=10}}</div>
				{{/if}}
				{{#each messages}}
					<li class="media">
						<div class="media-body">
							<div class="media">
								<a class="pull-left" href="#">					
									{{#each avatar}}
										{{#unless this.directUrl 'avatarsSmall'}}
											{{> FS.UploadProgressBar}}
										{{else}}
											<img class="media-object img-circle" src="{{this.directUrl 'avatarsSmall'}}" />
										{{/unless}}
									{{/each}}
								</a>
								<div class="media-body">
										{{message}}
									<br>
									<small class="text-muted">Name User | Date</small>
									<hr />
								</div>
							</div>
						</div>
					</li>
				{{/each}}
			</div>
		</div>
		<div class="panel-footer">
			<div class="input-group">
				<input type="text" class="form-control ms-message-text" placeholder="{{_ "enter_message"}}" />
				<span class="input-group-btn">
					<button class="btn btn-info ms-message-send" type="button">{{_ "send"}}</button>
				</span>
				<h1>{{limitTest}}</h1>
			</div>
		</div>
	</div>
</template>